@import '../App.css';

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.login-box button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.login-box button:hover {
    background-color: #2980b9;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password button {
    background: none;
    border: none;
    color: #3498db;
    cursor: pointer;
    padding: 0;
}

.forgot-password button:hover {
    text-decoration: underline;
}